<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - Quantum Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notification - Quantum Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Quantum Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Quantum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF08B0951A2CB59800391E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08B0AA1A2CB59800391E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08B0BE1A2CB5B100391E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08B0D01A2CB5B100391E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
